body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb (0, 170, 255);
    text-align: center;
}

.main-part {
    background-color: rgb(240, 247, 247);
    width: 350px;
    margin: 50px auto;
    padding: 30px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(192, 212, 212);
}

.title-tutorial {
    padding: 0 10px 0 10px;
    margin-bottom: 0;
}

.tutorial-summary {
    padding: 10px 10px;
    margin: 0;
}




.price {
    background-color: rgb(61, 136, 197);
    padding: 10px;
    font-size: 40px;
    margin: 10 0px;
}